extends layout

block head
  title= 'Catan | Register'

block content
   .main.container.auth
        h1.reg_title Register
        form(method='POST' action='/register').form
          div.form-group
            input.form-control(type='email' id='email' placeholder='Email' name='email')
          div.form-group
            input#name.form-control(type='text', placeholder='Username' name='username')
          div.form-group
            input#pw.form-control(type='password', placeholder='Password' name='password')
          div.form-group
            input#pw2.form-control(type='password', placeholder='Confirm Password' name='confirmPassword')
             
          button.front.btn.btn-primary.reg_btn(type='submit') Sign Up
